<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<center style=" margin-left: 30%; margin-right: 30%; margin-top: 10%;">

    <form class="form-signin">
        <h2 class="form-signin-heading">Iniciar Sesion</h2>
        <h3>{{error}}</h3>
        <label for="inputEmail" class="sr-only">Nombre de Usuario</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de usuario"
               ng-model="usuario.username" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"
               ng-model="usuario.password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdame
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="iniciarSesion()">Iniciar Sesion</button>

    </form>
    <button class="btn btn-lg btn-primary btn-block" ng-click="go('/register')" >Registrarse</button>

</center>
