<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>        
    </head>
    <body>
        
        <form style="margin-top: 20%;" >
            <label>marcas</label>
            <select data-ng-init="listMarcas()">
                <option ng-repeat="marca in marcas" value="{{marca}}">{{marca.descripcion}}</option>
            </select>
        </form>
        
    </body>
</html>
